@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
    box-sizing: border-box;
    font-family: Fira Sans;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background-color: #181818;
    color: #fff;
}
.layout {
    max-width: 1440px;
}
nav {
    align-items: center;
    text-align: center;
    padding: 1.3rem 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav .links a{
    margin: auto 1rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    user-select: none;
}
nav h1 {
    cursor: pointer;
    user-select: none;
    color: #fff;
    text-decoration: none;
}
/* nav button {
    padding: 12px 25px;
    font-weight: 900;
    color: #f5f5f5;
    border-radius: 10px;
    border: none;
    background: #813CB3;
    cursor: pointer;
} */
nav button {
   background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
 }
nav button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
         